<section class="banner {{type}} image subscribe">
  <h1>Nunca te pierdas una historia</h1>
  <p class="color-lighten">
    Regístrate en nuestro reporte semanal y obtén lo mejor de el activista financiero, hecho a medida para ti.
  </p>
  <div class="row form">
    <input placeholder="correo electrónico" type="email" />
    <button onclick="eaf.on.subscribe(this)">regístrate</button>
  </div>
</section>

<section class="banner {{type}} image bot hide">
  <h1>MarketBot por solo <strong class="amount">29.90€</strong> !</h1>
  <p class="color-lighten">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <div class="row form">
    <a class="button" href="/productos#traderbot" />mas infomacion</a>
  </div>
</section>
