<section class="banner image subscribe">
  <h4>Subscribete</h4>
  <p class="font-XS color-lighten">
    Regístrate en nuestro reporte semanal y obtén lo mejor de el activista financiero, hecho a medida para ti.
  </p>
  <div class="row form">
    <input placeholder="correo electrónico" type="email" class="font-XS" />
    <button class="icon icon-S" onclick="eaf.on.subscribe(this)">check</button>
  </div>
</section>

<section class="banner image bot hide">
  <h4>Cryptobot por solo <strong class="amount">29.90€</strong> !</h4>
  <p class="font-XS color-lighten">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <div class="row form">
    <a class="button" href="/productos#cryptobot" />mas infomacion</a>
  </div>
</section>
