<section>
  <div class="row">
    <img />
    <h1>Coin</h1>
    <h2>BTC</h2>
  </div>
</section>

<section>
  <div class="row">
    <div class="box block skeleton">
      <strong>$0,00</strong>
      <small>Market Cap</small>
    </div>

    <div class="box block marginLeft skeleton">
      <strong>$0,00</strong>
      <small>Volume (24h)</small>
    </div>
  </div>
</section>

<section>
  <h3>Timeline</h3>
  <div class="chart skeleton" style="width: 100%; height: 70vh;">
    <section id="chart-timeline"></section>
  </div>
</section>

<section>
  <h3>Interés con el tiempo</h3>
  <div class="row" style="height: 40vh;">
    <div class="box chart" style="width: 60%;">
      <section id="chart-trend"></section>
    </div>
    <div class="box chart marginLeft skeleton" style="width: 40%;">
    </div>
  </div>
</section>

<section>
  <h3>Market</h3>
  <div class="row" style="height: 40vh;">
    <div class="box chart" style="width: 60%;">
      <section id="chart-market"></section>
    </div>
    <div class="box chart marginLeft skeleton" style="width: 40%;">
    </div>
  </div>
</section>
