<div class="dialog checkout">
  <section>
    <div class="gateway row">
      <strong>el activista financiero</strong>
      <small class="amount">1 BTC = 435.01 EUR</small>
    </div>

    <div class="cart row">
      <ul class="items">
        <li>
          <small>Item</small>
          <strong>CryptoBot</strong>
        <li>
        <li>
          <small>Description</small>
          <strong>dolor sit amet, consectetur adipisicing elit.</strong>
        </li>
      </ul>

      <div class="amount">
        <h1 class="amount">
          0.040608<span>BTC</span>
        </h1>
        <small class="amount">123.23<span>USD</span></small>
      </div>
    </div>

    <div class="payment row">
      <div>
        <small>amount</small>
        <strong class="amount">0.040608<span>BTC</span></strong>
      </div>
      <div>
        <small>address</small>
        <strong>1Loz3WTcCmaWMTzKu1b65egZ7SkZkDwBKp</strong>
      </div>
      <img src="https://chart.googleapis.com/chart?cht=qr&chs=256x256&chld=H|0&chl=bitcoin:1Loz3WTcCmaWMTzKu1b65egZ7SkZkDwBKp?amount=0.040608" />
      <small class="state spinner">waiting for payment</small>
    </div>

    <nav class="row">
      <a href="mailto:pagos@elactivistafinanciero.com" class="font-XS">Deseo otra forma de pago</a>
      <button onclick="eaf.on.dialogHide()">cancelar</button>
    </nav>
  </section>
</div>
