
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{TITLE}}</title>
    <meta name="description" content="{{DESCRIPTION}}">
    <link id="favicon" rel="icon" href="{{FAVICON}}" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Fira+Sans:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style/index.css">
    <script src="/index.js" defer></script>
    {{script}}
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div>
          <a href="/" class="clean">
            <h1>el activista <strong>financiero</strong><span class="cursor"></span></h1>
          </a>
          <small class="font-content">
            on a long enough timeline the survival rate for everyone drops to zero.
          </small>
        </div>
        <nav>
          <a class="button" href="/productos">Productos</a>
          <a class="button" href="/signin">SUBSCRIBETE</a>
        </nav>
      </div>
    </header>

    <main data-role="{{role}}">
      {{main}}
    </main>

    <button id="button-theme" onclick="eaf.on.toggleTheme()">🌗</button>

    <footer>
      <small>
        <a href="/discrimination">Discrimination Notice</a> * <a href="/cookies">Cookie Policy</a> * <a href="/afiliados">Afiliados</a>
      </small>
      <small class="font-content font-XS">
        Copyright ©2019 {{DOMAIN}} / Soshilabs, LTD. v{{VERSION}}
      </small>
    </footer>

    {{dialog}}


    <!-- Start of Async Drift Code -->
    <script>
    "use strict";

    !function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('867n4xx9n992');
    </script>
    <!-- End of Async Drift Code -->
  </body>
</html>
