<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{TITLE}}</title>
    <meta name="description" content="{{DESCRIPTION}}">
    <link id="favicon" rel="icon" href="{{FAVICON}}" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Fira+Sans:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style/index.css">
    <script src="/index.js" defer></script>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div>
          <a href="/" class="clean">
            <h1>el activista <strong>financiero</strong><span class="cursor"></span></h1>
          </a>
          <small class="font-content">
            on a long enough timeline the survival rate for everyone drops to zero.
          </small>
        </div>
        <div>
          <a class="button" href="/signin">REGISTRATE</a>
        </div>
      </div>
    </header>

    <main data-role="{{role}}">
      {{main}}
    </main>

    <button id="button-theme" onclick="eaf.events.theme()">🌗</button>

    <footer>
      <p>
        <a href="/discrimination">Discrimination Notice</a> * <a href="/cookies">Cookie Policy</a> * <a href="/afiliados">Afiliados</a>
      </p>
      <small class="font-content">
        Copyright ©2019 {{DOMAIN}}/Soshilabs, LTD.
      </small>
    </footer>
  </body>
</html>
