<!DOCTYPE html>
<html lang="en">
  <head>
    <title>El Anarquista Financiero</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div>
          <h1>El anarquista <strong>financiero</strong><span class="cursor"></span></h1>
          <small>on a long enough timeline the survival rate for everyone drops to zero.</small>  
        </div>
        <div>
          <a class="button" href="/signin">REGISTRATE</a>
        </div>
      </div>
    </header>

    <main>
      {{content}}
    </main>
    
    <dashboard>
      {{dashboard}}
    </dashboard>
    
    <button id="button-theme" onclick="eaa.events.theme()">🌗</button>

    <footer>
      <p>
        <a href="">Discrimination Notice</a> * <a href="">Cookie Policy</a>
      </p>
      <small>
        Copyright ©2019 elanarquistafinanciero.com/SatoshiLabs, LTD.
      </small>
    </footer>
  </body>
</html>
