<h1 class="_underline">Symple pricing for everyone</h1>
<p class="color-lighten">
  Fully operational accounts starting for
</p>

<section class="prices row">
  <div class="price">
    <div>
      <img src="http://via.placeholder.com/128x128?text=price-image" alt="@TODO" />
      <h3>CryptoBot</h3>
      <small>dolor sit amet, consectetur adipisicing elit.</small>
    </div>

    <ul>
      <li>✔ Senales de compra/venta diarias</li>
      <li>✔ Analisis con charts</li>
      <li>✔ Lorem ipsum dolor sit amet</li>
    </ul>

    <div class="amount">
      <strong class="row">29.90<small>€</small></strong>
      <small>pago mensual</small>
    </div>

    <button onclick="eaf.on.dialogShow('checkout')">Comprar ahora</button>
  </div>

  <div class="price main">
    <div>
      <img src="http://via.placeholder.com/128x128?text=price-image" alt="@TODO" />
      <h3>Curso avanzado de trading</h3>
      <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
    </div>

    <ul>
      <li>✔ Lorem ipsum dolor sit amet</li>
      <li>✔ consectetur adipisicing elit</li>
      <li>✔ sed do eiusmod</li>
      <li>✔ tempor incididunt ut labore</li>
      <li>✔ et dolore magna aliqua</li>
      <li>✔ Ut enim ad minim veniam</li>
    </ul>

    <div class="amount">
      <strong class="row">490<small>€</small></strong>
      <small>pago mensual</small>
    </div>

    <button onclick="eaf.on.dialogShow('checkout')">Comprar ahora</button>
  </div>

  <div class="price">
    <div>
      <img src="http://via.placeholder.com/128x128?text=price-image" alt="@TODO" />
      <h3>Informe Mensual</h3>
      <small>dolor sit amet, consectetur adipisicing elit.</small>
    </div>

    <ul>
      <li>✔ Lorem ipsum dolor sit amet</li>
      <li>✔ consectetur adipisicing elit</li>
      <li>✔ sed do eiusmod</li>
    </ul>

    <div class="amount">
      <strong class="row">19.90<small>€</small></strong>
      <small>pago mensual</small>
    </div>

    <button onclick="eaf.on.dialogShow('checkout')">Comprar ahora</button>
  </div>
</section>

<small>Todos los planes disponen de un pago anual</small>
