:root {
  --bg-color: white;
  --bg-opacity: rgba(255,255,255,0.85);
  --color: #222;
  --color-secondary: #444;
  --color-hover: blue;
  
  --font-size-XL: 3rem;
  --font-size-L: 2.4rem;
  --font-size: 1.6rem;
  --font-size-S: 1.1rem;
  --font-size-XS: 0.9rem;
  
  --unit: 1rem;
}

* {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  margin: 0;
  padding: 0;
}

a { 
  color: var(--color);
}

a:hover {
  color: var(--color-hover);
}

button {
  background-color: var(--color);
  border: none;
  color: var(--bg-color);
  font-weight: bold;
  font-size: var(--font-size-S);
  padding: 0.4rem 0.6rem;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-size: 20px;
  margin: calc(var(--unit) * 1.2);
}

header {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: calc(var(--unit) * 1) 0;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background: var(--bg-opacity);
}

header h1 {
  font-size: var(--font-size);
}

header h1 strong {
  background: var(--color);
  color: var(--bg-color);
  padding: 0 0.2rem;
}

header h1 .cursor {
  animation: blinker 1s linear infinite;
  background: var(--color);
  bottom: -0.3rem;
  display: inline-block;
  height: 1.55rem;
  margin-left: 0.4rem;
  position: relative;
  width: 0.2rem;
}

@keyframes blinker {
  50% { opacity: 0; }
}

header small {
  display: block;
  max-width: 240px;
  color: var(--color-secondary);
  font-size: var(--font-size-XS);
}

main {
  padding-top: var();
  max-width: 640px;
  margin: 0 auto;
  text-align: justify;
}

main h1 {
  font-size: var(--font-size-XL);
  text-align: center;
  padding: var(--unit);
  margin-bottom: var(--unit);
  border-bottom: 1px solid var(--color-secondary);
}

main h2, main h3 {
  margin: calc(var(--unit) * 2) 0 var(--unit) 0;
}

main blockquote {
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--color-secondary);
  margin-bottom: var(--unit);  
  padding: var(--unit);
}

main blockquote p strong {
  display: block;
  font-size: var(--font-size-S);
  margin-top: calc(var(--unit) * 1);
}

main > p {
  margin-bottom: var(--unit);
  line-height: 125%;  
}

footer {
  margin-top: 3.2rem;
  text-align: center;
  color: var(--color-secondary);
}