* {
  box-sizing: border-box;
}

body {
  font-family: 'VT323', 'Inconsolata', monospace;
  font-size: 1rem;
  margin: 2em;
}

header {
  
}
header h1 {
  font-size: 20px;
  line-height: 20px;
}
header small {
  font-size: 8px;
}

h1 {}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
