:root {
  --bg-color: white;
  --color: #222;
  --color-secondary: #444;
  --color-hover: blue;
  
  --font-size-XL: 3.2rem;
  --font-size-L: 2.4rem;
  --font-size: 1.6rem;
  --font-size-S: 1.2rem;
  --font-size-XS: 0.9rem;
}

* {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  margin: 0;
  padding: 0;
}

a { 
  color: var(--color);
}

a:hover {
  color: var(--color-hover);
}

button {
  background-color: var(--color);
  border: none;
  color: var(--bg-color);
  font-weight: bold;
  font-size: var(--font-size-S);
  padding: 0.4rem 0.6rem;
}

body {
  font-size: 20px;
  background-color: var(--bg-color);
  color: var(--color);
  margin: 1.6rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

header h1 {
  font-size: var(--font-size);
}

header h1 strong {
  background: var(--color);
  color: var(--bg-color);
  padding: 0 0.2rem;
}

header h1 .cursor {
  animation: blinker 1s linear infinite;
  background: var(--color);
  bottom: -0.3rem;
  display: inline-block;
  height: 1.55rem;
  margin-left: 0.4rem;
  position: relative;
  width: 0.2rem;
}

@keyframes blinker {
  50% { opacity: 0; }
}

header small {
  display: block;
  max-width: 240px;
  color: var(--color-secondary);
  font-size: var(--font-size-XS);
}

main {
  max-width: 640px;
  margin: 0 auto;
  line-height: 1.25em;
}

main h1 {
  font-size: var(--font-size-XL);
  text-align: center;
}

main {
  text-align: justify;
}

main blockquote {
  margin: 1.6rem 0;
}

main blockquote p em {
  margin-top: 0.4rem;
  display: block;
}

.bold, strong, b {
  font-weight: bold;
}


footer {
  margin-top: 3.2rem;
  text-align: center;
  color: var(--color-secondary);
}