.banner {
  background-color: var(--color-skeleton);
  border-radius: var(--border-radius);
  margin-bottom: calc(var(--unit) * 2);
  padding: calc(var(--unit) * 2) calc(var(--unit) * 4);
  overflow: hidden;
  position: relative;
  text-align: left;
  transition: background var(--animation);
  width: 100%;
}

.banner.hide { display: none; }
.banner.image { padding-left: calc(var(--unit) * 16); }
.banner h1 { font-size: var(--font-size-L); }
.banner input { margin-right: var(--unit); }

.banner p {
  margin: calc(var(--unit) / 2) 0;
  max-width: 68%;
}
.banner .form {
  max-width: 45%;
  z-index: 1;
}

/* -- Images -- */
.banner.image { padding-left: calc(var(--unit) * 16); }

  .banner.image:before {
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateX(-25%) scale(1.25) rotateZ(33deg);
    width: calc(var(--unit) * 14);
    z-index: 0;
  }

  .banner.image.subscribe:before { background-image: url('../../../public/icon-weekly.png'); }
  .banner.image.bot:before { background-image: url('../../../public/icon-bot.png'); }
  .banner.image.report:before { background-image: url('../../../public/icon-report.png'); }
  .banner.image.course:before { background-image: url('../../../public/icon-course.png'); }


/* -- .small -- */
.banner.small { padding: var(--unit); }
.banner.small h1 { font-size: var(--font-size-S); }
.banner.small p { font-size: var(--font-size-XS); }
.banner.small.image:before { opacity: 0.05; }
.banner.small p, .banner.small .form { max-width: 100%; }

@media (max-width: 767px) {
  .banner.image:before {
    opacity: 0.05;
    filter: gray; /* IE6-9 */
    filter: grayscale(1);
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  }
  .banner.image { padding: var(--unit); }
}

@media (max-width: 1023px) {
  .banner h1 { font-size: var(--font-size); }
  .banner p, .banner .form { max-width: 100%; }
}
