#button-theme {
  position: fixed;
  bottom: var(--unit);
  left: var(--unit);
}

footer {
  margin-top: calc(var(--unit) * 4);
  margin-bottom: calc(var(--unit) * 2);
  text-align: center;
}

footer > * {
  display: block;
  margin: calc(var(--unit) / 2) 0;
}
