:root {
  --bg-color: white;
  --bg-opacity: rgba(255,255,255,0.85);
  --color: #111;
  --color-lighten: #555;
  --color-accent: #FFD700;
  --color-hover: blue;
  --color-skeleton: #eee;

  --font: 'Fira Sans', sans-serif;
  --font-content: 'Cardo', serif;
  --font-size-XL: 2.6rem;
  --font-size-L: 2.4rem;
  --font-size: 1.6rem;
  --font-size-S: 1.2rem;
  --font-size-XS: 0.9rem;

  --unit: 1rem;

  --border-radius: 0.15rem;

  --wrapper: 1220px;
  --wrapper-post: 680px;
  --mobile: 768px;
  --tablet: 1024px;

  --animation: 300ms ease-in-out;
}

@import './common.css';

/* -- views -- */
@import './home.css';
@import './post.css';
@import './affiliates.css';
@import './products.css';
@import './admin.css';

/* -- components -- */
@import './header.css';
@import './footer.css';
@import './post-item.css';
@import './dialog.css';
@import './banner.css';
