[data-role="post-item"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: calc(var(--unit) * 3) 0;
}
  [data-role="post-item"] .info {
    flex: 1;
    margin-right: var(--unit);
  }
    [data-role="post-item"] .info h2 {
      font-size: var(--font-size);
      margin-bottom: calc(var(--unit) / 4);
    }

    [data-role="post-item"] .info p {
      font-size: var(--font-size-S);
      margin-bottom: calc(var(--unit) / 2);
    }

  [data-role="post-item"] .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-left: calc(var(--unit) / 2);
    min-height: 108px;
    width: 136px;
  }

  [data-role="post-item"].featured {
    flex-direction: column;
    margin: 0;
    flex: 1;
  }
    [data-role="post-item"].featured .img {
      order: -1;
      width: 100%;
      height: calc(var(--unit) * 10);
      margin: 0;
      margin-bottom: var(--unit);
    }


@media (max-width: 767px) {
  [data-role="post-item"] {
    margin: calc(var(--unit) * 2) 0;
  }

    [data-role="post-item"] .info h2 { font-size: var(--font-size-S); }

    [data-role="post-item"] .info p {
      text-align: justify;
    }

    [data-role="post-item"] .info p, [data-role="post-item"] .info .row { font-size: var(--font-size-XS); }

    [data-role="post-item"] .img {
      min-height: 80px;
      width: 80px;
    }
}
