.postItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: calc(var(--unit) * 3) 0;
}
  .postItem .info { flex: 1; }
    .postItem .info h2 { font-size: var(--font-size); }

    .postItem .info p {
      font-size: var(--font-size-S);
      margin: calc(var(--unit) / 2) 0;
    }

    .postItem .info small { font-size: var(--font-size-XS); }

  .postItem .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-left: calc(var(--unit) / 2);
    min-height: 108px;
    width: 136px;
    pointer-events: none;
    z-index: -1;
  }

  .poistItem:not(.featured) .info { margin-right: var(--unit); }

  .postItem.featured {
    flex-direction: column;
    margin: 0;
    flex: 1;
  }
    .postItem.featured .img {
      order: -1;
      width: 100%;
      height: calc(var(--unit) * 10);
      margin: 0;
      margin-bottom: var(--unit);
    }


@media (max-width: 767px) {
  .postItem {
    margin: 0 0 calc(var(--unit) * 3) 0;
    flex-direction: column;
  }
    .postItem .info h2 { font-size: var(--font-size-S); }
    .postItem .info p {
      display: block;
      text-align: justify;
      font-size: var(--font-size-S);
      height: calc(var(--unit) * 4.5);
      position: relative;
      overflow: hidden;
    }
      .postItem .info p:after {
        content: '...';
        position: absolute;
        background-color: var(--bg-color);
        right: 0;
        padding: 0 0 0 calc(var(--unit) / 6);
        bottom : calc(var(--unit) / 4.5);
      }
    .postItem .img {
      order: -1;
      margin: 0 0 var(--unit) 0;
      height: calc(var(--unit) * 6);
      width: 100%;
    }
}
