<h3 class="underline">CRON articulos encontrados</h3>
<table>
  <thead>
    <tr>
      <th>provider</th>
      <th style="width: 50%;">title</th>
      <th>created</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    {{_articles}}
  </tbody>
</table>

<h3 class="underline">public</h3>
<table>
  <thead>
    <tr>
      <th>provider</th>
      <th style="width: 50%;">title</th>
      <th>created</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    {{_articles}}
  </tbody>
</table>

<h3 class="underline">private</h3>
<table>
  <thead>
    <tr>
      <th>provider</th>
      <th style="width: 50%;">title</th>
      <th>created</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    {{_articles}}
  </tbody>
</table>
