<h1 class="_underline">Lorem ipsum dolor sit amet</h1>
<p class="color-lighten">
  dolor sit amet, consectetur adipisicing elit.
</p>

<section class="prices row">
  <div class="price">
    <div>
      <img src="/static/icon-bot.png" alt="Traderbot" />
      <h3>MarketBot</h3>
      <small>dolor sit amet, consectetur adipisicing elit.</small>
    </div>

    <ul>
      <li>✔ Senales de compra/venta diarias</li>
      <li>✔ Analisis con charts</li>
      <li>✔ Lorem ipsum dolor sit amet</li>
    </ul>

    <strong class="amount row">29.90<span>€</span></strong>

    <button onclick="eaf.on.dialogShow('checkout')">Comprar ahora</button>
    <a href="#traderbot" class="clean color-lighten font-XS">Más información</a>
  </div>

  <div class="price main">
    <div>
      <img src="/static/icon-course.png" alt="Curso avanzado de trading" />
      <h3>Curso de trading</h3>
      <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
    </div>

    <ul>
      <li>✔ Lorem ipsum dolor sit amet</li>
      <li>✔ consectetur adipisicing elit</li>
      <li>✔ sed do eiusmod</li>
      <li>✔ tempor incididunt ut labore</li>
      <li>✔ et dolore magna aliqua</li>
      <li>✔ Ut enim ad minim veniam</li>
      <li>✔ <strong>GRATIS!</strong> 3 meses de nuestro traderbot</li>

    </ul>

    <strong class="amount row">290.90<span>€</span></strong>

    <button onclick="eaf.on.dialogShow('checkout')">Comprar ahora</button>
    <a href="#curso-trading" class="clean color-lighten font-XS">Más información</a>
  </div>

  <div class="price">
    <div>
      <img src="/static/icon-report.png" alt="Informe mensual" />
      <h3>Informe Mensual</h3>
      <small>dolor sit amet, consectetur adipisicing elit.</small>
    </div>

    <ul>
      <li>✔ Lorem ipsum dolor sit amet</li>
      <li>✔ consectetur adipisicing elit</li>
      <li>✔ sed do eiusmod</li>
    </ul>

    <strong class="amount row">19.90<span>€</span></strong>

    <button onclick="eaf.on.dialogShow('checkout')">Comprar ahora</button>
    <a href="#reporte-mensual" class="clean color-lighten font-XS">Más información</a>
  </div>
</section>

<small class="color-lighten font-XS">Todos nuestros planes  planes disponen de un pago anual</small>
