<section class="landing">
  <div>
    <h1>traderbot</h1>
    <h2>tu mejor aliado en trading.</h2>
    <p class="color-lighten">
      tu mejor asistente en trading.
      on mas de un 82% de éxito...
      dolor sit amet, consectetur adipisicing elit.
      Señales con un 83.56% de éxito
    </p>
    <button onclick="eaf.on.dialogShow('checkout')" class="large">Comprar ahora</button>
  </div>
  <img src="/static/icon-bot.png" alt="Traderbot" />
</section>

<section class="keypoints">
  <div class="row">
    <img src="/static/icon-feature-1.svg" alt="">
    <div>
      <h3>Elige las mejores señales</h3>
      <p>
        Obtendras señales con un muy alto porcentaje de éxito. Nuestras tecnicas avanzadas te ofreceran las senales que mejor vayan con tu estilo de trading.
      </p>
    </div>
  </div>
  <div class="row">
    <img src="/static/icon-feature-2.svg" alt="">
    <div>
      <h3>Aprovechate del cripto-mercado</h3>
      <p>
        El mercado de las cripto-monedas se caracteriza por su alta volativilidad. Aprovechate de esta oportunidad ahora que estas a tiempo.
      </p>
    </div>
  </div>
  <div class="row">
    <img src="/static/icon-feature-3.svg" alt="">
    <div>
      <h3>Conviertete en un trader</h3>
      <p>
        Traderbot te revelara de manera sencilla donde donde marcar el "stop loss", las zonas de “take-profit” y los "enter-markets".
      </p>
    </div>
  </div>
</section>

<section class="full odd slogan">
  <h2>Todas las herramientas que necesitas ...</h2>
  <p>
    y tal vez algunas que no sabías que necesitabas.
  </p>

  <div class="row wrapper">
    <h3>Be everywhere your customers are.</h3>
    <div class="items">
      <div>
        <strong>Estrategia QFL</strong>
        <small>
          Nuestro bot emplea para el 25% de la señales la estrategia QFL que busca automáticamente los niveles de soporte en las gráficas. Cuando algunos de estos soportes se rompen, nuestros equipo de traders que supervisan el mercado las 24 horas las analiza, si la oportunidad es clara, compartimos contigo la señal
        </small>
      </div>
      <div>
        <strong>Estrategia Entrix</strong>
        <small>
          La estrateiga Entrix se enfoca en obtener ganancias rápidas gracias a una análisis complejo de las tendencias y los waves. Con esta estrategia sólo te mandamos señales de compra. No se envia señales de venta ni objetivos
        </small>
      </div>
      <div>
        <strong>Indice NVP</strong>
        <small>
          La estrateiga Entrix se enfoca en obtener ganancias rápidas gracias a una análisis complejo de las tendencias y los waves. Con esta estrategia sólo te mandamos señales de compra. No se envia señales de venta ni objetivos
        </small>
      </div>
    </div>
  </div>
</section>

<section class="full video">
  <iframe src="https://www.youtube.com/embed/wJgrjFismzs" frameborder="0" allow="encrypted-media; picture-in-picture" allowfullscreen></iframe>
</section>

<section class="features">
  <div>
    <h3>Las Mejores Señales</h3>
    <p>
      Nuestro bot te ofrece señales con un alto porcentaje de éxito. Estas son las mismas señales que usan los bots para generar billones de dólares al día a costa de las perdidas que sufre la gente normal como tú y yo. Las señales de los bots posteriormente se filtran manualmente por los traders profesionales en el Activista Financiero.
    </p>
  </div>
  <div>
    <h3>Las Mejores Señales</h3>
    <p>
      Nuestro bot te ofrece señales con un alto porcentaje de éxito. Estas son las mismas señales que usan los bots para generar billones de dólares al día a costa de las perdidas que sufre la gente normal como tú y yo. Las señales de los bots posteriormente se filtran manualmente por los traders profesionales en el Activista Financiero.
    </p>
  </div>
  <div>
    <h3>Las Mejores Señales</h3>
    <p>
      Nuestro bot te ofrece señales con un alto porcentaje de éxito. Estas son las mismas señales que usan los bots para generar billones de dólares al día a costa de las perdidas que sufre la gente normal como tú y yo. Las señales de los bots posteriormente se filtran manualmente por los traders profesionales en el Activista Financiero.
    </p>
  </div>
</section>


<section>
  <h2>Cómo Funciona</h2>
  <ol>
    <li>Pagas tu sucricipción mensual y tendrás acceso a nuestro bot en el Telegram.</li>
    <li> El bot del telegram comunicará señales de compa y venta de distintas cripto monedas</li>
    <li>Copias esos movimientos en tu plataforma preferida (bitfinex, bitmex…etc.</li>
  </ol>
  <p>
    Si nunca has empleado ninguna plataforma de trading de cripto monedas, no te preocupes porque con tu suscripción te regalaremos un video curso tutorial explicando paso a paso como operar en la plataforma bitfinex para que así puedas copiar los movimientos del Trader bot.
  </p>
  <p>
    Todo el proceso es muy fácil, una vez que veas el curso y tengas acceso al grupo del telegram, con tan sólo unos clics podrás empezar copiar todos los movimientos y empezar a ganar dinero.
  </p>
</section>

<section class="testimonials">
</section>
