<section class="landing">
  <div>
    <h1>traderbot</h1>
    <h2>tu mejor aliado en trading.</h2>
    <p class="color-lighten">
      tu mejor asistente en trading.
      on mas de un 82% de éxito...
      dolor sit amet, consectetur adipisicing elit.
      Señales con un 83.56% de éxito
    </p>
    <button onclick="eaf.on.dialogShow('checkout')" class="large">Comprar ahora</button>
  </div>
  <img src="/static/icon-bot.png" alt="Traderbot" />
</section>

<section class="keypoints">
  <div class="row">
    <img src="/static/icon-feature-1.svg" alt="">
    <div>
      <h3>Elige las mejores señales</h3>
      <p>
        Obtendras señales con un muy alto porcentaje de éxito. Nuestras tecnicas avanzadas te ofreceran las senales que mejor vayan con tu estilo de trading.
      </p>
    </div>
  </div>
  <div class="row">
    <img src="/static/icon-feature-2.svg" alt="">
    <div>
      <h3>Aprovechate del cripto-mercado</h3>
      <p>
        El mercado de las cripto-monedas se caracteriza por su alta volativilidad. Aprovechate de esta oportunidad ahora que estas a tiempo.
      </p>
    </div>
  </div>
  <div class="row">
    <img src="/static/icon-feature-3.svg" alt="">
    <div>
      <h3>Conviertete en un trader</h3>
      <p>
        Traderbot te revelara de manera sencilla donde donde marcar el "stop loss", las zonas de “take-profit” y los "enter-markets".
      </p>
    </div>
  </div>
</section>

<section class="full odd slogan">
  <h2>Todas las herramientas que necesitas ...</h2>
  <p>
    y tal vez algunas que no sabías que necesitabas.
  </p>
</section>

<section class="full odd">
  <div class="row wrapper features">
    <h3>Be everywhere your customers are.</h3>
    <div class="row">
      <div>
        <strong>Estrategia QFL</strong>
        <small>
          Nuestro bot emplea para el 25% de la señales la estrategia QFL que busca automáticamente los niveles de soporte en las gráficas. Cuando algunos de estos soportes se rompen, nuestros equipo de traders que supervisan el mercado las 24 horas las analiza, si la oportunidad es clara, compartimos contigo la señal
        </small>
      </div>
      <div>
        <strong>Estrategia Entrix</strong>
        <small>
          La estrateiga Entrix se enfoca en obtener ganancias rápidas gracias a una análisis complejo de las tendencias y los waves. Con esta estrategia sólo te mandamos señales de compra. No se envia señales de venta ni objetivos
        </small>
      </div>
      <div>
        <strong>Indice NVP</strong>
        <small>
          La estrateiga Entrix se enfoca en obtener ganancias rápidas gracias a una análisis complejo de las tendencias y los waves. Con esta estrategia sólo te mandamos señales de compra. No se envia señales de venta ni objetivos
        </small>
      </div>
    </div>
  </div>
</section>

<section class="full video">
  <iframe src="https://www.youtube.com/embed/wJgrjFismzs" frameborder="0" allow="encrypted-media; picture-in-picture" allowfullscreen></iframe>
</section>

<section class="features">
  <h3>Cómo Funciona</h3>
  <div class="row">
    <div>
      <strong>1. Suscribete mensualmente</strong>
      <small>
        Queremos que estes a gusto, por lo que solo aceptamos pagos mensuales. Pagas tu sucricipción mensual y tendrás acceso a nuestro bot en Telegram.
      </small>
    </div>
    <div>
      <strong>2. Escucha las senales 24x7</strong>
      <small>
        Traderbot comunica oportunidades de venta y compra todos los dias. Tanto si operas con cripto-monedas como con otro tipo de valor.
      </small>
    </div>
    <div>
      <strong>3. Facil, muy facil</strong>
      <small>
        Si nunca has empleado ninguna plataforma de trading, no te preocupes porque con tu suscripción te regalamos un video-tutorial para aprender a operar.
      </small>
    </div>
    <div>
      <strong>4. </strong>
      <small>
        Si nunca has empleado ninguna plataforma de trading, no te preocupes porque con tu suscripción te regalamos un video-tutorial para aprender a operar.
      </small>
    </div>
  </div>
</section>

<section class="full odd testimonials">
  <div class="wrapper">
    <h2>Our customers love us! 😍</h2>
  </div>
</section>
